name: Update README
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  update-readme:
    name: Update README
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}

      - name: Get current commit SHA
        id: before
        run: echo "sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Update Last.fm Charts
        uses: dxnter/lastfm-readme@v1
        with:
          LASTFM_API_KEY: ${{ secrets.LASTFM_API_KEY }}
          LASTFM_USER: dxnter

      - name : Update WakaTime Stats
        uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          COMMIT_MESSAGE: "chore(readme): update WakaTime stats"
          SHOW_TOTAL: true

      - name: Update Blog Feed
        uses: sarisia/actions-readme-feed@v1
        id: feed
        with:
          file: 'README.md'
          max_entry: 6
          format: '- ${monthshort} ${day} ${year} - [${title}](${url})'
          timezone: 'America/Chicago'
          url: |
            https://foster.sh/feed.xml

      - name: Squash all commits into one
        run: |
          git pull origin main

          git reset --soft ${{ steps.before.outputs.sha }}

          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          if [[ -n $(git status --porcelain) ]]; then
            git commit -m "docs(readme): update stats and blog feed"
            git push --force-with-lease origin main
          fi
